<body style="background-image: url('https://images.unsplash.com/photo-1521464302861-ce943915d1c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');">
<h2 class="text-center py 10" style="color: white;">Edit your flat</h2>

<div class="modal-card mx-auto text-center" style="width: 600px; padding: 20px; margin: 20px; text-decoration-color: black">
<%= simple_form_for @flat do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :daily_price %>
  <%= f.input :features %>
  <%= f.button :submit %>
<div class="button text-center" style="margin-top: 30px">
<%= link_to "Back", dashboard_path %>
<% end %>
</div>
</div>
</body>
