<div class="container center text-center">
<% @flats.each do |flat| %>
<h1><%=flat.name %></h1>
<p><%=flat.description %></p>
<p><%=flat.address%></p>
<p><%=flat.daily_price%></p>
<p><%=flat.longitude%></p>
<p><%=flat.latitude%></p>
<p><%=flat.features%></p>
<br>
<% end %>
</div>
