<div class="container center text-center">
<% @flats.each do |flat| %>
<h1><%=flat.name %></h1>
<p><%=flat.description %></p>
<p><%=flat.address%></p>
<p><%=flat.daily_price%></p>
<p><%=flat.longitude%></p>
<p><%=flat.latitude%></p>
<p><%=flat.features%></p>
<br>
<%= link_to 'See this apartment', flat_path(flat), class: 'btn btn-success'%>
<% end %>
</div>
<div>
<%= link_to 'Add your own flat', new_flat_path, class: 'btn btn-primary' %>
</div>
<div>
<%= link_to 'your profile', dashboard_path, class: 'btn btn-primary' %>
</div>

