<div class="container center text-center">
<% @flats.each do |flat| %>
<h1><%=flat.name %></h1>
<p><%=flat.description %></p>
<p><%=flat.address%></p>
<p><%=flat.daily_price%></p>
<p><%=flat.longitude%></p>
<p><%=flat.latitude%></p>
<p><%=flat.features%></p>
<br>
<% end %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>ciao sono qua</div>


