
<nav class="navbar navbar-expand-lg nav-background">



  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://image.flaticon.com/icons/svg/2111/2111320.svg" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
     <%= link_to "Became a host", new_flat_path , class: "nav-link-1" %>
    <%= link_to "Log-out", destroy_user_session_path , method: :delete, class: "nav-link-1" %>
        <%= link_to dashboard_path do %>
    <%= cl_image_tag current_user.photo , class: "avatar avatar-bordered"%>
  <% end %>
  </div>
</nav>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @flat.photo %>)">
  <div class="container">
    <h1><strong> <%= @flat.name %> </strong></h1>
    <p><%=@flat.description %></p>
    <%= link_to "Book this apartment", new_flat_booking_path(@flat), class: 'button-white' %>
  </div>
</div>
<div class="card my-2 d-flex justify-content-center text-center mx-4">
  <h1 class="text-color"><strong>Reviews for this apartment</strong></h1>
  <p><% @flat.bookings.each do |booking| %>
    <p> <% if !booking.review.nil? %>
      <% booking.review.rating.times do %>
      <i class="fa fa-star" aria-hidden="true"> </i>
      <% end %>
      "<%= a = booking.review.description %>" </p>
      <% end %>
      <% end %>
    </div>
    <div class="card my-2 d-flex justify-content-center text-center mx-4">
      <h2>Features</h2>
      <p><%= @flat.features %></p>
    </div>
    <div class="container my-2 d-flex justify-content-center">
      <%= link_to "Back", flats_path, class: 'button' %>
    </div>

    <footer class="footer-show">
      <div class="row">
        <div class="col-6 col-md text-center">
         <h5>Airbnb  <i class="fas fa-home"></i></h5>
          <ul class="list-unstyled text-small">
            <li><a class="" href="#">Opportunità di lavoro</a></li>
            <li><a class="" href="#">News</a></li>
            <li><a class="" href="#">Condizioni</a></li>
            <li><a class="" href="#">Aiuto</a></li>
            <li><a class="" href="#">Diversità e appartenenza</a></li>
            <li><a class="" href="#">Informazioni di contatto</a></li>
          </ul>
        </div>
        <div class="col-6 col-md text-center">
         <h5>Scopri  <i class="fas fa-search-location"></i></h5>
          <ul class="list-unstyled text-small" id="footer-column">
            <li><a class="" href="#">Affidabilità e sicurezza</a></li>
            <li><a class="" href="#">Attività</a></li>
            <li><a class="" href="#">Cittadino Airbnb</a></li>
            <li><a class="" href="#">Viaggi di lavoro</a></li>
          </ul>
        </div>
        <div class="col-6 col-md text-center" id="footer-column">
          <h5>Ospita  <i class="fas fa-bed"></i></h5>
          <ul class="list-unstyled text-small">
            <li><a class="" href="#">Perchè affittare</a></li>
            <li><a class="" href="#">Ospita</a></li>
            <li><a class="" href="#">Ospitare responsabilmente</a></li>
            <li><a class="" href="#">Offri un'esperienza</a></li>
          </ul>
        </div>
        <div class="col-6 col-md text-center" id="footer-column">
          <h5>Rules  <i class="fas fa-file-alt"></i></h5>
          <ul class="list-unstyled text-small" >
            <li><a class="" href="#">Termini</a></li>
            <li><a class="" href="#">Privacy</a></li>
            <li><a class="" href="#">Mappa del sito</a></li>
          </ul>
        </div>
      </div>
    </footer>
