<div>

  <h1>Manage Your Flats</h1>
  <h1><%@user.flats.each do |flat| %></h1>
  <p> <strong> <%= flat.name %> </strong></p>
  <p> <%= flat.description %> </p>
  <%= link_to "edit flat", edit_flat_path(flat), class: 'button' %>
  <% end %>
  <h1>Your Bookings</h1>
  <%@user.bookings.each do |booking| %>
  <p> <strong><%= booking.flat_id %></strong>  </p>
  <p>Check-in Date</p>
  <p> <%= booking.checkin_date %> </p>
  <p>Check-out Date</p>
  <p> <%= booking.checkout_date %> </p>
<%= link_to "New Review for this booking", new_booking_review_path(booking), class: 'button' %>
  <% end %>
  <br>
</div>
<%= link_to "Back", flats_path, class: 'button' %>
