
<div class="content-container">

  <% if user_signed_in?  %>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://image.flaticon.com/icons/svg/2111/2111320.svg" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
    </ul>
    <%= link_to "Became a host", new_flat_path , class: "nav-link" %>
    <%= link_to "Log-out", destroy_user_session_path , method: :delete, class: "nav-link" %>

    <%= cl_image_tag current_user.photo , class: "avatar avatar-bordered"%>
  </div>
</nav>

<% else %>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://image.flaticon.com/icons/svg/2111/2111320.svg" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
    </ul>
    <%= link_to "Sign-up", new_user_registration_path , class: "nav-link" %>
    <%= link_to "Login", new_user_session_path , class: "nav-link" %>
  </div>
</nav>
<% end %>





  <div class="container-home">
    <div class="container_form" >
      <div class="text mb-3">
        <h1>Book <span class="differentcolor">Unique</span> Experience to <span class="differentcolor">live.</span></h1>
      </div>
  <%= form_tag flats_path, class: "form-inline justify-content-center homepage-form", method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form mr-2 ",
    placeholder: "Find a flat"
    %>

    <%= date_field_tag :query1,
    params[:query1],
    class: "form mr-2",
      id: "",
      placeholder: "checkin_date"
      %>
    <%= date_field_tag :query2,
    params[:query2],
    class: "form mr-2",
      id: "",
      placeholder: "checkout_date"
      %>
      <%= text_field_tag :query3,
    params[:query3],
    class: "form mr-2",
      id: "",
      placeholder: "ospiti"
      %>
        <%= submit_tag "Search", class: "button" %>
      </div>
    </div>
  </div>
        <% end %>

      </div>

