<div class="modal-card">
<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
<%= link_to "Back", dashboard_path, class: 'button' %>
</div>
